#div1 {
  height: 200px;
  width: 200px;
  background-color: blue;
  margin: 0 auto;
  margin-top: 200px;
  transition: 2s;
  text-align: center;
  float: 50px;
  color: red;
  font-size: 60px;
}
#div1:hover {
  /* transform: translate(70px, -70px);
  transform: scale(2); 
  transform: rotate(-90deg);
  transform: skewY(-46deg);
  transform: skew(45deg) rotate(360deg) scale(2);*/
  transform: matrix(1, 2, 3, 4, 5, 6);
}
